
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #203864;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
background-color: #758196;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.open{

font-size:20px;
cursor:pointer; 
padding:0px 5px 0px 5px !important;
background-color:#203864; 
color:white;
}

.open:hover{
background-color:#5e6063;
}

.sear{
padding:7px 10px 7px 10px !important;
}

h2{
color: white;
position:fixed;
}

.new{
color: white !important;

}

.new:hover{

  color: #e0e0e0 !important;
}

